<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Homepage</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" >
  <link rel="stylesheet" href="css/custom.css">
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,700' rel='stylesheet' type='text/css'>
</head>

  <body>
    <h1>jobHuntr</h1>
    <div id="list">
    <ul id="jobslist" class="jobslist">
      <% for(var i=0; i<jobslist.length; i++) {%>
        <li class="jobs" id="<%= i %>">
        <%= jobslist[i].company %> - <%= jobslist[i].role %>
        </li>
      <% } %>
    </ul>
  </div>
  <div id="input-box">
    <form action="/jobslist" method="POST">
      <input type="text" placeholder="company" name="company">
      <br></br>
      <input type="text" placeholder="role" name="role">
  </div>
      <br></br>
      <div id="buttons">
      <button type="submit">Submit</button>
    </form>
    <div>
      <button id="update">Update</button>
    </div>
    <div>
      <button id="delete">Delete</button>
    </div>
  </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="main.js"></script>
</body>
</html>
