<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Homepage</title>

</head>
<body>
  Welcome to jobHuntr

  <ul id="jobslist" class="jobslist">
  <% for(var i=0; i<jobslist.length; i++) {%>
    <li class="jobs" id="<%= i %>">
    <%= jobslist[i].company %> <%= jobslist[i].role %>
    </li>
  <% } %>
  </ul>

  <form action="/jobslist" method="POST">
    <input type="text" placeholder="company" name="company">
    <input type="text" placeholder="role" name="role">
    <button type="submit">Submit</button>
  </form>
  <div>
    <h2>Update this text</h2>
    <button id="update">Update</button>
  </div>
  <div>
    <h2>Delete</h2>
    <button id="delete">Delete</button>
  </div>
  <script src="main.js"></script>

</body>
</html>
