<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Homepage</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" >
  <link rel="stylesheet" href="css/custom.css">
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <div class="navbar-header">
       <a class="navbar-brand" href="#" >jobHuntr</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">About</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <body>
    <ul id="jobslist" class="jobslist">
      <% for(var i=0; i<jobslist.length; i++) {%>
        <li class="jobs" id="<%= i %>">
        <%= jobslist[i].company %> <%= jobslist[i].role %>
        </li>
      <% } %>
    </ul>

    <form action="/jobslist" method="POST">
      <input type="text" placeholder="company" name="company">
      <br></br>
      <input type="text" placeholder="role" name="role">
      <br></br>
      <button type="submit">Submit</button>
    </form>
    <div>
      <button id="update">Update</button>
    </div>
    <div>
      <button id="delete">Delete</button>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="main.js"></script>
</body>
</html>
